.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 8px;
    flex-direction: column;
    position: relative;
    border: 2px solid;
    border-radius: 8px;
}

.title {
    text-align: right;
    font-size: 16px;
}

.photo img {
    height: 100px;
    max-width: 80%;
    margin: auto;
}

.photo {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.price {
    font-size: 16px;
}

.buttonBuy {
background-color: #ece691;
padding: 8px;
border-radius: 16px;
border: 1px solid;
font-weight: 600;
margin-top: 8px;
cursor: pointer;
}

.wight {
    font-size: 12px;
}

.discount {
    background-color: rgb(238, 255, 0);
    border-radius: 12px;
    padding: 4px;
    line-height: 24px;
    font-weight: 500;
}

.cardTop {
display: flex;
justify-content: center;
align-items: flex-start;
}

.like {
    color: red;
    position: absolute;
    top: 8px;
    left: 8px;
}

.new {
    background-color: rgba(21, 247, 0, 0.7);
    border-radius: 12px;
    padding: 4px;
    line-height: 24px;
    font-weight: 500;
}

.tagsWrapper {
    position: absolute;
    gap: 6px;
    display: flex;
}