
.wr {
    display: flex;
    flex-direction: column;
    background-image: url(../../images/main.png);
    padding: 0;
    margin: 0;
    width: 100%; 
}
.wr h3 {
    padding-left: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.wr p {
    padding-left: 50px;
    margin-bottom: 20px;
}
.btn {
    border-radius: 16px;
    margin-bottom: 300px;
    margin-left: 50px;
    background-color: rgb(236, 230, 145);
    border: 1px solid;
    font-size: 16px;
    padding: 8px 16px;
    width: 100px;
}