.btnCls {
    border-radius: 16px;
    margin-top: 0;
    background-color: rgb(205, 15, 15);
    border: 1px solid;
    font-size: 16px;
    padding: 8px 16px;
}

.btnAdd {
    border-radius: 16px;
    margin-top: 0;
    background-color: rgb(37, 198, 19);
    border: 1px solid;
    font-size: 16px;
    padding: 8px 16px;
}
.error{
    color: red;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 12px;
}