.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.input{
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid;
}
.error{
    margin-bottom: 1rem;
    color: red;
}
.btn {
    border-radius: 16px;
    margin-bottom: 1rem;
    background-color: rgb(236, 230, 145);
    border: 1px solid;
    font-size: 16px;
    padding: 8px 16px;
}